/*
!.gitignore
!zsh/
zsh/.zcompdump*
zsh/.zhistory
zsh/.zsh_history
!electron-flags.conf
!flameshot/
!go/env
!hypr/
!kitty/
!mako/
!nushell/
nushell/history.txt
!onedriver/
!qq-flags.conf
!rofi/
!starship.toml
!systemd/user/default.target.wants/ssh-agent.service
!waybar/
!wezterm/
